.detail-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-container figure {
    box-shadow: 0 20px 35px rgba(0,0,0,0.2);
}

.detail-container figcaption {
    position: relative;
    z-index: 999;
    width: 100%;
    margin-top: -32px;
    background-color: rgba(175,173,173,.8);
    color: #fff;
    text-align: center;
    padding: 5px 0;
}